@import "./variables";

.button {
  border: none;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  background-color: rgba($color-white, 0.2);
  outline: none;

  &:hover {
    background-color: rgba($color-white, 0.6);
  }

  &--close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1rem;
  }
}
