@import "./variables";

.button {
  border: none;
  height: 2.5rem;
  width: 2.5rem;
  background-color: transparent;
  outline: none;
  // font-size: 1rem !important;

  &--close {
    position: absolute;
    top: 1rem;
    right: 1rem;  
    font-size: 2rem !important;
  }

  &--favorite{
    position: absolute;
    top: 4rem;
    right: 1rem;
    font-size: 2rem !important;
  }

  &--favorite-list{
    position: absolute;
  top: 0;
  right: 2.5rem;
    margin: 1.5rem 1rem 1rem 0;
  }
}

.favorite-list-icon{
    color: rgba($color-red, 0.8);
    font-size: 3rem;

    &:hover{
      color: rgba($color-red, 0.6);
      transform: scale(1.1);
    }
  }


.bi-heart{
  color: rgba($color-white, .8);
}

.fa-heart{
  color: rgba($color-red, .8);
}

.fa-trash{
  color: rgba($color-white, .8);
}

.icon{
  z-index: 10;
  color: rgba($color-white, .8);
  font-size:2rem ;
}
