$color-black: #000000;
$color-white: #ffffff;
$color-gray: #353434;

$color-primary: #05646450;
$color-primary-1: #f87f73;
$color-primary-2: #292423;

$color-red:rgb(204, 42, 36);

// $color-white: #ffffff23;
